
*{
    font-size: 1rem;
    font-weight: 200;
}


li.borderless{
    border: none;
}

.hidden{
    display: none;
}
div>span>a{
    color: #333;
}
.task-delete:hover{
    color: #e31c4a;
}

.task-edit:hover{
    color: #7117c5;
}

.task-list-item{
    border-left: 3px solid green;
}