:root{
    --color-completed: rgba(0, 128, 0, 0.95);
    --color-not-started: rgba(227, 24, 70, 0.94);
    --color-in-progress:rgba(255, 195, 54, 0.97);
    --color-tm-white:rgba(255, 255, 255, 0.95);
}
*{
    font-size: 1rem;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #e7e7e7;
    color: #333333;
}

.left-border-not-started{
    border-left: .25rem solid var(--color-not-started);
}

.left-border-border-completed{
    border-left: .25rem solid var(--color-completed);
}

.left-border-in-progress{
    border-left: .25rem solid var(--color-in-progress);
}

.hidden{
    display: none;
}
div>span>a{
    color: #333;
}
.task-delete:hover{
    color: #e31c4a;
}

.task-edit:hover{
    color: #7117c5;
}

.task-list-item{
   border: none;
}

.nav-bg{
    background-color: #fff;
    margin: 0.2rem;
    padding: 0.4rem;
}

.tm-card,.add-form-section{
    background: var(--color-tm-white);
    border-radius: .25rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.2);
}

.tm-card-title-pill{
    height: 1.6rem;
    max-height: 1.7rem;
}
.tm-card-desc{
    font-size: .9rem ;
    margin-bottom: .5rem;
}
.tm-card-created-on{
    font-size: .8rem ;
}

.summary-box{
    height: 8rem;
    max-height: 10rem;
    width: 8rem;
    max-width: 10rem;
    color: #ffffff;
}
.box-not-started,.box-in-progress,.box-completed{
    margin-bottom: 0;
    border-radius: .5rem;
}
.box-not-started{
    background-color: var(--color-not-started);
}
.box-in-progress{
    background-color: var(--color-in-progress);
}
.box-completed{
    background-color: var(--color-completed);
}
.form-label{
    font-weight: 400;
}
.form-control{
    font-weight: 200;
}
.nav-item{
    font-weight: 400;
    font-size: 1.2rem;
}

.priority-pill{
    background-color: rgba(150, 150, 150, 0.9);
}

.no-tasks{
    color: var(--color-tm-white);
    padding: 3rem;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
}


